{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublie
{% endblock %}
{% block body %}
<section id="mdp">
    <div>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form.mail, { 'attr': {'placeholder' : 'Adresse mail du compte'} }) }}
            <div><input class="login" type="submit" value="Réinitialiser mon mot de passe"></div>
            {{ form_end(form) }}
        </div>
        <div></div>
    </div>
</section>
{% endblock %}