{% extends 'base.html.twig' %}

{% block title %}Modifier Profil
{% endblock %}

{% block body %}
	<h1>Modifier mon profil</h1>
	<div>

		{{ include('participant/_form.html.twig', {'button_label': 'Modifier'}) }}

		<div>
			<label>Campus </label>
			<select name="optionSelectCampus">
				{% for campus in campuses %}
					<option  name="optionSelect" value="{{campus.id}}">{{campus.nom}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<label>Ma photo </label>
			{# Todo : ATTENTION : Javascript pour la photo et pas submit le formulaire #}
			<button>Uploader</button>
		</div>

		{{ include('participant/_delete_form.html.twig') }}

	</div>

{% endblock %}
