{% extends 'base.html.twig' %}

{% block title %}Modifier Profil
{% endblock %}

{% block body %}
	<h1>Edit Participant</h1>
	<div>

		{{ include('participant/_form.html.twig', {'button_label': 'Modifier'}) }}

		{{ include('participant/_delete_form.html.twig') }}

	    <a href="{{ path('profil_index') }}">Liste Profil</a>
        
	</div>

{% endblock %}
