{% extends 'base.html.twig' %}

{% block title %}Modifier un Campus{% endblock %}

{% block body %}
    <h1>Modifier un Campus</h1>

    {{ include('campus/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('campus_index') }}">Retour à la liste</a>

    {{ include('campus/_delete_form.html.twig') }}
{% endblock %}
