{% extends 'base.html.twig' %}

{% block title %}Modifier Campus
{% endblock %}

{% block body %}
	<h1>Edit Campus</h1>
	<div>
		{{ include('campus/_form.html.twig', {'button_label': 'Enregistrer'}) }}
		<div
			class="btnSousFormulaire">

		{{ include('campus/_delete_form.html.twig') }}
			<a class="btn" href="{{ path('campus_index') }}">Retour à la liste</a>
		</div>

	</div>
{% endblock %}
