{% extends 'base.html.twig' %}

{% block title %}New Campus{% endblock %}

{% block body %}
    <h1>Ajouter un Campus</h1>

    {{ include('campus/_form.html.twig') }}

    <a href="{{ path('campus_index') }}">Retour à la liste de campus</a>
{% endblock %}
