{% extends 'base.html.twig' %}

{% block title %}Campus{% endblock %}

{% block body %}

  <div>
    <h1>Gérer les Campus</h1>
    <div>
      <button type="submit">Rechercher</button>
    </div>

    <table>
      <tr><th>Campus</th><th>Actions</th></tr>
      <tr>
          <td>
            <a>Nom du Campus</a>
          </td>
          <td>
              <button class="btn">Modifier</button>
              <button type="submit" class="btn" name="suppCampus" value="suppCampus">Supprimer</button>
          </td>
      </tr>

        <tr>
          <td>
            {{ form_start(campusForm) }}

            {{ form_widget(campusForm) }}
            <button type="submit" class="btn">Ajouter</button>


            {{ form_end(campusForm) }}
          </td>
        </tr>

    </table>


  </div>

{% endblock %}
