{% extends 'base.html.twig' %}

{% block title %}Campus{% endblock %}

{% block body %}

    <div>
        <h1>Gérer les Villes</h1>
        <div>
            <button type="submit">Rechercher</button>
        </div>
        <table>
            <tr><th>Ville</th><th>Code postal</th><th>Actions</th></tr>
            <tr>
                <td>
                    <a>Nom de la Ville</a>
                </td>
                <td>
                    <a>code postal</a>
                </td>
                <td>
                    <button class="btn">Modifier</button>
                    <button type="submit" class="btn" name="suppVille" value="suppVille">Supprimer</button>
                </td>
            </tr>

            <tr>
                <td>
                    {{ form_start(villeForm) }}

                    {{ form_widget(villeForm) }}
                    <button type="submit" class="btn">Ajouter</button>

                    {{ form_end(villeForm) }}
                </td>
            </tr>

        </table>


    </div>

{% endblock %}