//______________________________________ Imports //
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
//______________________________________ Variables //
$couleurSectionPrincipal: rgba(124,
67,
36,
0.118);
//______________________________________ Mixins //
@mixin borderTest {
    border: 2px solid rgb(255, 255, 255);
}

@mixin GapGeneral {
    gap: 1em;
}

@mixin BorderShadowEXT {
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.316), -8px -8px 12px 0 rgba(255, 255, 255, 0.316);
}

@mixin BorderShadowIN {
    box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.172) inset, -8px -8px 12px 0 rgba(0, 0, 0, 0.378) inset;
}

@mixin AncreBlanche {
    padding: 0.3em;
    background-color: rgba(181, 113, 84, 0.687);
    border: 3px solid white;
    text-decoration: none;
    color: white;
}

@mixin typeBouton {
    @include BorderShadowEXT();
    color: white;
    list-style-type: none;
    max-height: 3em;
    text-decoration: none;
    text-align: center;
    margin: 1%;
    padding: 1em;
}

//**********************************************************//
//                           CSS                            //
//__________________________________________________________//
* {
    box-sizing: border-box;
    padding: 0.2em;
    border-radius: 0.5em;
    font-family: 'Poppins', sans-serif;
    li,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    div,
    label,
    th,
    td,
    tr {
        color: white
    }
}

body {
    background-color: rgb(36, 34, 34);
    background-image: url('../img/principal_wallpaper90D.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // @include borderTest;
    @include GapGeneral;
    display: grid;
    grid-template-rows: auto 70% auto;
    height: 100%;
    padding: 1em;
    //__________________________________________________________________________________Header
    header {
        // @include borderTest;
        @include BorderShadowIN();
        background-color: $couleurSectionPrincipal;
        display: grid;
        grid-template-columns: auto 80%;
        gap: 0.2em;
        padding: 1em;
        .logoEnTete {
            // @include borderTest;
            display: flex;
            align-items: center;
            a {
                 :hover {
                    transition: all 2s ease;
                    transform: scale(1.10);
                }
                // @include borderTest;
                display: block;
                background: linear-gradient(135deg,
                rgba(0,
                0,
                0,
                0.22),
                rgba(255,
                255,
                255,
                0.25));
                padding: unset;
                .imgEnTete {
                    display: flex;
                    // @include borderTest;
                    width: 10em;
                    @include BorderShadowEXT();
                }
            }
            h1 {
                // @include borderTest;
                text-align: center;
                width: 100%;
                font-family: 'Acme', sans-serif; // mettre la police 
                font-size: 300%;
            }
        }
        nav {
            // @include borderTest;
            display: flex;
            justify-content: end;
            align-items: center;
            font-size: large;
            font-weight: bold;
             :hover {
                transition: all 0.2s ease;
                transform: scale(1.05);
                background-color: rgba(124, 67, 36, 0.563);
            }
             :active {
                transform: scale(1.15);
            }
            a {
                 :hover {}
                // @include borderTest;
                @include BorderShadowEXT();
                color: white;
                list-style-type: none;
                max-height: 3em;
                text-decoration: none;
                text-align: center;
                margin: 1%;
                padding: 1em;
            }
        }
    }
    //________________________________________________________________________________Section
    section {
        // @include borderTest;
        background-color: $couleurSectionPrincipal;
        padding: 1.5em;
        font-size: 95%;
        a {
            @include AncreBlanche();
        }
        input,
        select {
            border: 2px solid rgb(255, 255, 255);
            padding: 0.5em;
            margin: 1em;
            background-color: rgba(181, 113, 84, 0.687);
            color: white;
            [type="date"] {
                padding: 0.2em;
            }
        }
        div.premierDivAccueil {
            display: grid;
            grid-template-columns: 10% auto;
        }
        form.FormConnexion {
            // @include borderTest;
            text-align: center;
            div {
                // @include borderTest;
                padding: 1em;
            }
            .inscription {
                display: flex;
                text-align: start;
                a {
                    // @include borderTest;
                    font-size: small;
                    padding: 4em;
                    @include typeBouton();
                }
            }
            .mdpEmail {
                label {
                    // @include borderTest;
                    width: 80%;
                    padding: 1em;
                }
            }
        }
        button {
            // @include borderTest;
            margin: 0.5em;
            padding: 0.4em;
            background-color: inherit;
            border-color: inherit;
            @include typeBouton();
            text-decoration: none;
        }
        //___________________________________________________________________________Formulaire
        form {
            div {
                // @include borderTest;
                div {
                    // @include borderTest;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    label {
                        // @include borderTest;
                        width: 10em;
                        margin: 0.5em;
                        text-align: center;
                    }
                }
            }
            div#sortie div {
                // @include borderTest;
                display: inherit;
                text-align: center;
                #sortie_dateHeureDebut,
                #sortie_dateLimiteInscription,
                #sortie_duree {
                    // @include borderTest;
                    display: flex
                }
            }
            div.btnSousFormulaire {
                // @include borderTest;
                display: flex;
                justify-content: center;
            }
            +form {
                // @include borderTest;
                display: flex;
                justify-content: center;
            }
        }
        //____________________________________________________________________ View
        div {
            // border: 1px solid white;
            text-align: center;
            padding: 0px;
            table {
                // border: 1px solid white;
                width: auto;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    //_____________________________________________________________________________________ Footer
    footer {
        height: auto;
        justify-content: center;
        h3,
        h5 {
            text-align: center;
        }
    }
    //____________________________________________________________________________________ Tableau
    table {
        margin-bottom: 2em;
        font-size: 90%;
        th {
            // border: 1px solid white;
            background-color: rgba(124, 67, 36, 0.563);
            padding: 0.7em;
            font-size: large;
        }
        td {
            background-color: rgba(230, 179, 134, 0.475);
            padding: 0.5em;
            text-overflow: ellipsis;
            a {
                display: flex;
                padding: 0.8em;
            }
            .AncreBtnTableau {
                border: inherit;
                background-color: unset;
                color: rgb(124, 67, 36);
            }
        }
        .CelluleBtnTableau {
            // border: 1px solid white;
            background-color: inherit;
            background-color: rgba(255, 255, 255, 0.489);
            // display: grid;
            display: flex;
            margin: 0.2em;
        }
    }
}