@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  box-sizing: border-box;
  padding: 0.2em;
  border-radius: 0.5em;
  font-family: "Poppins", sans-serif;
}
* li,
* p,
* h1,
* h2,
* h3,
* h4,
* h5,
* div,
* label {
  color: white;
}
* button {
  margin: 0.5em;
  padding: 0.4em;
  background-color: inherit;
  border-color: inherit;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.316), -8px -8px 12px 0 rgba(255, 255, 255, 0.316);
  color: white;
  list-style-type: none;
  max-height: 3em;
  text-decoration: none;
  text-align: center;
  margin: 1%;
  padding: 1em;
  text-decoration: none;
}

body {
  background-color: #242222;
  background-image: url("../img/principal_wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  gap: 1em;
  display: grid;
  grid-template-rows: auto 70% 3em;
  height: 100%;
  padding: 1em;
}
body header {
  box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.172) inset, -8px -8px 12px 0 rgba(0, 0, 0, 0.378) inset;
  background-color: rgba(124, 67, 36, 0.118);
  display: grid;
  gap: 0.2em;
  padding: 1em;
}
body header .logoEnTete {
  display: flex;
  align-items: center;
}
body header .logoEnTete a {
  display: block;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
  padding: unset;
}
body header .logoEnTete a :hover {
  transition: all 2s ease;
  transform: scale(1.1);
}
body header .logoEnTete a .imgEnTete {
  display: flex;
  width: 10em;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.316), -8px -8px 12px 0 rgba(255, 255, 255, 0.316);
}
body header .logoEnTete h1 {
  text-align: center;
  width: 100%;
  font-family: "Acme", sans-serif;
  font-size: 300%;
}
body header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: large;
  font-weight: bold;
}
body header nav :hover {
  transition: all 0.2s ease;
  transform: scale(1.05);
  background-color: rgba(124, 67, 36, 0.563);
}
body header nav :active {
  transform: scale(1.15);
}
body header nav a {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.316), -8px -8px 12px 0 rgba(255, 255, 255, 0.316);
  color: white;
  list-style-type: none;
  max-height: 3em;
  text-decoration: none;
  text-align: center;
  margin: 1%;
  padding: 1em;
}
body section {
  background-color: rgba(124, 67, 36, 0.118);
}
body section form.FormConnexion {
  text-align: center;
}
body section form.FormConnexion div {
  padding: 1em;
}
body section form.FormConnexion .inscription {
  display: flex;
  text-align: start;
}
body section form.FormConnexion .inscription a {
  font-size: small;
  padding: 4em;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.316), -8px -8px 12px 0 rgba(255, 255, 255, 0.316);
  color: white;
  list-style-type: none;
  max-height: 3em;
  text-decoration: none;
  text-align: center;
  margin: 1%;
  padding: 1em;
}
body section form.FormConnexion .mdpEmail label {
  width: 80%;
  padding: 1em;
}
body footer {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
