//______________________________________ Imports //
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
//______________________________________ Variables //
$couleurSectionPrincipal: rgba(124,
67,
36,
0.118);
//______________________________________ Mixins //
@mixin borderTest {
    border: 2px solid rgb(255, 255, 255);
}

@mixin GapGeneral {
    gap: 1em;
}

@mixin BorderShadowEXT {
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.316), -8px -8px 12px 0 rgba(255, 255, 255, 0.316);
}

@mixin BorderShadowIN {
    box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.172) inset, -8px -8px 12px 0 rgba(0, 0, 0, 0.378) inset;
}

//**********************************************************//
//                           CSS                            //
//__________________________________________________________//
* {
    box-sizing: border-box;
    padding: 0.2em;
    border-radius: 0.5em;
    li,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    div,
    label {
        color: white
    }
    button {
        padding: 0.4em;
    }
    font-family: 'Poppins',
    sans-serif;
}

body {
    background-color: rgb(36, 34, 34);
    background-image: url('../img/principal_wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    // @include borderTest;
    @include GapGeneral;
    display: grid;
    grid-template-rows: auto 70% 3em;
    height: 100%;
    padding: 1em;
    //_____________________________________________________________________________________Header
    header {
        // @include borderTest;
        @include BorderShadowIN();
        background-color: $couleurSectionPrincipal;
        display: grid;
        gap: 0.2em;
        padding: 1em;
        .logoEnTete {
            // @include borderTest;
            display: flex;
            align-items: center;
            a {
                 :hover {
                    transition: all 2s ease;
                    transform: scale(1.10);
                }
                // @include borderTest;
                display: block;
                background: linear-gradient(135deg,
                rgba(0,
                0,
                0,
                0.22),
                rgba(255,
                255,
                255,
                0.25));
                .imgEnTete {
                    // @include borderTest;
                    width: 10em;
                    @include BorderShadowEXT();
                }
            }
            h1 {
                // @include borderTest;
                text-align: center;
                width: 100%;
                font-family: 'Shizuru', cursive;
                font-size: 300%;
            }
        }
        nav {
            // @include borderTest;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            font-size: large;
            font-weight: bold;
             :hover {
                transition: all 0.2s ease;
                transform: scale(1.05);
                background-color: rgba(124, 67, 36, 0.563);
            }
             :active {
                transform: scale(1.15);
            }
            a {
                 :hover {}
                // @include borderTest;
                @include BorderShadowEXT();
                color: white;
                list-style-type: none;
                max-height: 3em;
                text-decoration: none;
                text-align: center;
                margin: 1%;
                padding: 1em;
            }
        }
    }
    //_____________________________________________________________________________________Section
    section {
        // @include borderTest;
        background-color: $couleurSectionPrincipal;
        form.FormConnexion {
            // @include borderTest;
        }
    }
    //_____________________________________________________________________________________Section
    footer {
        // @include borderTest;
        // @include BorderShadowIN();
        // background-color: $couleurSectionPrincipal;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}