@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  box-sizing: border-box;
  padding: 0.2em;
  border-radius: 0.5em;
  font-family: "Poppins", sans-serif;
}
* li,
* p,
* h1,
* h2,
* h3,
* h4,
* h5,
* div,
* label,
* th,
* td,
* tr {
  color: white;
}

body {
  background-color: #242222;
  background-image: url("../img/principal_wallpaper90D.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  gap: 1em;
  display: grid;
  grid-template-rows: auto 70% auto;
  height: 100%;
  padding: 1em;
}
body header {
  box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.172) inset, -8px -8px 12px 0 rgba(0, 0, 0, 0.378) inset;
  background-color: rgba(124, 67, 36, 0.118);
  display: grid;
  grid-template-columns: auto 80%;
  gap: 0.2em;
  padding: 1em;
}
body header .logoEnTete {
  display: flex;
  align-items: center;
}
body header .logoEnTete a {
  display: block;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
  padding: unset;
}
body header .logoEnTete a :hover {
  transition: all 2s ease;
  transform: scale(1.1);
}
body header .logoEnTete a .imgEnTete {
  display: flex;
  width: 10em;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.316), -8px -8px 12px 0 rgba(255, 255, 255, 0.316);
}
body header .logoEnTete h1 {
  text-align: center;
  width: 100%;
  font-family: "Acme", sans-serif;
  font-size: 300%;
}
body header nav {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: large;
  font-weight: bold;
}
body header nav :hover {
  transition: all 0.2s ease;
  transform: scale(1.05);
  background-color: rgba(124, 67, 36, 0.563);
}
body header nav :active {
  transform: scale(1.15);
}
body header nav a {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.316), -8px -8px 12px 0 rgba(255, 255, 255, 0.316);
  color: white;
  list-style-type: none;
  max-height: 3em;
  text-decoration: none;
  text-align: center;
  margin: 1%;
  padding: 1em;
}
body section {
  background-color: rgba(124, 67, 36, 0.118);
  padding: 1.5em;
  font-size: 95%;
}
body section a {
  padding: 0.3em;
  background-color: rgba(181, 113, 84, 0.687);
  border: 3px solid white;
  text-decoration: none;
  color: white;
}
body section input,
body section select {
  border: 2px solid white;
  padding: 0.5em;
  margin: 1em;
  background-color: rgba(181, 113, 84, 0.687);
  color: white;
}
body section input [type=date],
body section select [type=date] {
  padding: 0.2em;
}
body section div.premierDivAccueil {
  display: grid;
  grid-template-columns: 10% auto;
}
body section form.FormConnexion {
  text-align: center;
}
body section form.FormConnexion div {
  padding: 1em;
}
body section form.FormConnexion .inscription {
  display: flex;
  text-align: start;
}
body section form.FormConnexion .inscription a {
  font-size: small;
  padding: 4em;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.316), -8px -8px 12px 0 rgba(255, 255, 255, 0.316);
  color: white;
  list-style-type: none;
  max-height: 3em;
  text-decoration: none;
  text-align: center;
  margin: 1%;
  padding: 1em;
}
body section form.FormConnexion .mdpEmail label {
  width: 80%;
  padding: 1em;
}
body section button {
  margin: 0.5em;
  padding: 0.4em;
  background-color: inherit;
  border-color: inherit;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.316), -8px -8px 12px 0 rgba(255, 255, 255, 0.316);
  color: white;
  list-style-type: none;
  max-height: 3em;
  text-decoration: none;
  text-align: center;
  margin: 1%;
  padding: 1em;
  text-decoration: none;
}
body section form div div {
  align-items: center;
  justify-content: center;
  display: flex;
}
body section form div div label {
  width: 10em;
  margin: 0.5em;
  text-align: center;
}
body section form div#sortie div {
  display: inherit;
  text-align: center;
}
body section form div#sortie div #sortie_dateHeureDebut,
body section form div#sortie div #sortie_dateLimiteInscription,
body section form div#sortie div #sortie_duree {
  display: flex;
}
body section form div.btnSousFormulaire {
  display: flex;
  justify-content: center;
}
body section form + form {
  display: flex;
  justify-content: center;
}
body section div {
  text-align: center;
  padding: 0px;
}
body section div table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
body footer {
  height: auto;
  justify-content: center;
}
body footer h3,
body footer h5 {
  text-align: center;
}
body table {
  margin-bottom: 2em;
  font-size: 90%;
}
body table th {
  background-color: rgba(124, 67, 36, 0.563);
  padding: 0.7em;
  font-size: large;
}
body table td {
  background-color: rgba(230, 179, 134, 0.475);
  padding: 0.5em;
  text-overflow: ellipsis;
}
body table td a {
  display: flex;
  padding: 0.8em;
}
body table td .AncreBtnTableau {
  border: inherit;
  background-color: unset;
  color: #7c4324;
}
body table .CelluleBtnTableau {
  background-color: inherit;
  background-color: rgba(255, 255, 255, 0.489);
  display: flex;
  margin: 0.2em;
}

/*# sourceMappingURL=style.css.map */
