//______________________________________ Imports //


//______________________________________ Variables //

$couleurSectionPrincipale: rgba(0, 195, 255, 0.631);

//______________________________________ Mixins //

@mixin borderTest {
    border: 2px solid black;
}

@mixin GapGeneral {
    gap: 1em;
}



//**********************************************************//
//                           CSS                            //
//__________________________________________________________//

* {
    box-sizing: border-box;
    padding: 0.2em;
    border-radius: 0.8em;

    label{
        display: block;
    }
       li,
       p,
       h1,
       h2,
       h3,
       h4,
       h5,
       div,
       label {
           color: white
       }
}

body {
    // @include borderTest;
    background-color: black;
    background-image: url('../img/back-color.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 2fr 6fr 1fr;
    @include GapGeneral;

    //___________________________________________________Header
    header {
        // @include borderTest;
        background-color: $couleurSectionPrincipale;
        display: grid;
        gap: 0.2em;
        
        .logoPrincipal {
            // @include borderTest;
            display: grid;
            grid-template-columns: 4fr 8fr;
            align-items: center;
            gap: 1em;
            height: 100%;

            .logoPrincipalimg {
                // @include borderTest;
                width: 10em;
            }
            h1{
                // @include borderTest;
                text-align: left;
                width: 100%;
            }
        }

        nav {
            // @include borderTest;
            display: flex;
            flex-wrap: wrap;

            a {
                // @include borderTest;
                color: white;
                list-style-type: none;

                text-decoration: none;
                text-align: center;

                height: 3em;
            }

        }
    }

    //___________________________________________________Section
    section {
        // @include borderTest;
        background-color: $couleurSectionPrincipale;

    }

    //___________________________________________________Section
    footer {
        background-color: $couleurSectionPrincipale;
        // @include borderTest;
        text-align: center;
        align-items: center;
    }



 

}