{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button type="submit" class="btn" name="enregistrer" value="enregistrer" >Enregistrer</button>
    <button type="submit" class="btn" name="publier" value="publier">Publier la sortie</button>
    <button class="btn">Annuler</button>
    {{ form_end(sortieForm) }}

{% endblock %}
