{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" name="Ouverte" value="Ouverte">Publier</button>
    <button class="btn" name="Créée" value="Créée">Enregistrer</button>
    <button class="btn" name="Annulée" value="Annulée">Annuler</button>
{{ form_end(form) }}