{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sortie
{% endblock %}

{% block body %}
	<h1>Créer une nouvelle Sortie</h1>

	<p>Ajoutez si besoin un lieu avant de remplir les autres champs, car il faudra les réécrire.</p>
	{{ include('sortie/_form.html.twig') }}
{% endblock %}
