<form method="post" action="{{ path('ville_delete', {'id': ville.id}) }}" onsubmit="return confirm('Voulez vous effacer la ville ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
    <button class="btn">Effacer</button>
</form>
