{% extends 'base.html.twig' %}

{% block title %} Ajouter Ville{% endblock %}

{% block body %}
    <h1>Ajouter une Ville</h1>
    <div>
    {{ include('ville/_form.html.twig') }}

    <a href="{{ path('ville_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
