<footer>
<h5 class="Hfooter">© Robin FERRE - Abdelrezak ALLIOUCHE KERBOUA - Loïc-Cécyl BARBE - Clement JUMELINE</h5>
<h3 class="Hfooter">-
{{ "now" |format_datetime('long', 'short', locale='fr') }}
	-</h3>

</footer>
